Repository bytebase/bytebase.com-old, changes with the owners that CODEOWNERS names for each.
All owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase, @d-bytebase

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                            @ecmadao @boojack @tianzhou

# Content such as docs.
/content/                    @adela-bytebase @tianzhou
/static/                     @adela-bytebase @tianzhou

# Team page
/assets/people/              @tianzhou @d-bytebase
/common/teammate.ts          @tianzhou @d-bytebase

docs: organize static files (#343)
  content/docs/en/disaster-recovery/point-in-time-recovery-for-mysql.md
  content/docs/en/how-to-contribute.md
  content/docs/en/vcs-integration/add-git-provider.md
  content/docs/en/vcs-integration/enable-version-control-workflow.md
  content/docs/en/vcs-integration/name-and-organize-schema-files.md
  content/docs/en/vcs-integration/troubleshoot.md
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-1.webp
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-2.webp
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-3.webp
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-4.webp
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-5.webp
  static/docs/en/how-to-contribute/data-model-v1.webp
  static/docs/en/how-to-contribute/tech-stack.webp
  static/docs/en/vcs-integration/add-git-provider/add-git-provider-step1.webp
  static/docs/en/vcs-integration/add-git-provider/add-git-provider.webp
  static/docs/en/vcs-integration/add-git-provider/gitlab-admin-area.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step1.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step2.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step3.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step4.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step5.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step1.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step2.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step3.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step4.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step5.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step1.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step2.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step3.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step4.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step5.webp
  static/docs/en/vcs-integration/troubleshoot/cors-error.webp
  static/docs/en/vcs-integration/troubleshoot/oauth-failed.webp
Owners: @adela-bytebase, @tianzhou

feat: gh-ost integration
  content/docs/en/_layout.md
  content/docs/en/gh-ost-integration.md
  static/docs/gh-ost-step-1-1.webp
  static/docs/gh-ost-step-1-2.webp
  static/docs/gh-ost-step-1-3.webp
  static/docs/gh-ost-step-2-1.webp
  static/docs/gh-ost-step-2-2.webp
  static/docs/gh-ost-step-3-1.webp
  static/docs/gh-ost-step-4-1.webp
  static/docs/gh-ost-step-4-2.webp
  static/docs/gh-ost-step-5-1.webp
  static/docs/gh-ost-step-5-2.webp
Owners: @adela-bytebase, @tianzhou

chore: update toc styles in doc
  components/DocumentViewer.vue
  components/Toc.vue
  content/docs/en/get-started/install/build-from-source-code.md
  content/docs/en/get-started/install/installation-script.md
  content/docs/en/get-started/quick-start.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: update toc styles in doc (#345)
  components/DocumentViewer.vue
  components/Toc.vue
  content/docs/en/get-started/install/build-from-source-code.md
  content/docs/en/get-started/install/installation-script.md
  content/docs/en/get-started/quick-start.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

docs: improvement to “Get Started” section
  content/docs/en/get-started/configure-workspace/add-a-mysql-instance-for-testing.md
  content/docs/en/get-started/configure-workspace/manage-members.md
  content/docs/en/get-started/configure-workspace/overview.md
  content/docs/en/get-started/configure-workspace/register-accounts.md
  content/docs/en/get-started/install/build-from-source-code.md
  content/docs/en/get-started/install/installation-script.md
  content/docs/en/get-started/install/overview.md
  content/docs/en/get-started/work-with-a-project/run-a-ui-workflow.md
Owners: @adela-bytebase, @tianzhou

chore: rename to sql review
  components/Footer.vue
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaRuleConfig.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  content/changelog/bytebase-1-0-3.md
  layouts/blog.vue
  locales/en.json
  locales/zh.json
  pages/sql-review-guide/index.vue
  static/changelog/1.0.3/sql-review-guide.gif
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: add route redirect
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

fix: address comment
  content/docs/en/_layout.md
  content/docs/en/change-database/online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

fix: address comment
  content/docs/en/change-database/online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

chore: rename system review to sql review (#347)
  components/Footer.vue
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaRuleConfig.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  content/changelog/bytebase-1-0-3.md
  layouts/blog.vue
  locales/en.json
  locales/zh.json
  nuxt.config.js
  pages/sql-review-guide/index.vue
  static/changelog/1.0.3/sql-review-guide.gif
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

Apply suggestions from code review
  content/docs/en/get-started/configure-workspace/overview.md
  content/docs/en/get-started/configure-workspace/register-accounts.md
Owners: @adela-bytebase, @tianzhou

Update content/docs/en/get-started/configure-workspace/register-accounts.md
  content/docs/en/get-started/configure-workspace/register-accounts.md
Owners: @adela-bytebase, @tianzhou

Apply suggestions from code review
  content/docs/en/change-database/online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

fix: address comment
  content/docs/en/change-database/online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

fix: address comment
  content/docs/en/change-database/online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

chore: remove extra line
  content/docs/en/change-database/online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

docs: improvement to “Get Started” section (#346)
  content/docs/en/get-started/configure-workspace/add-a-mysql-instance-for-testing.md
  content/docs/en/get-started/configure-workspace/manage-members.md
  content/docs/en/get-started/configure-workspace/overview.md
  content/docs/en/get-started/configure-workspace/register-accounts.md
  content/docs/en/get-started/install/build-from-source-code.md
  content/docs/en/get-started/install/installation-script.md
  content/docs/en/get-started/install/overview.md
  content/docs/en/get-started/work-with-a-project/run-a-ui-workflow.md
Owners: @adela-bytebase, @tianzhou

docs: dev-sre-devlops-difference post
  content/blog/dev-sre-ops-devops-difference.md
  static/blog/dev-sre-ops-devops-difference/dev-sre-ops.webp
  static/blog/dev-sre-ops-devops-difference/pager.webp
Owners: @adela-bytebase, @tianzhou

fix: address comment
  content/blog/dev-sre-ops-devops-difference.md
  static/blog/dev-sre-ops-devops-difference/dev-sre-ops.webp
Owners: @adela-bytebase, @tianzhou

docs: remove clearbit
  app.html
Owners: @ecmadao, @boojack, @tianzhou

chore: update docs for sql review rules
  content/docs/en/api/sql-advise.md
  content/docs/en/reference/error-code/advisor.md
  content/docs/en/sql-review/review-rules/naming-column.md
  content/docs/en/sql-review/review-rules/naming-index-fk.md
  content/docs/en/sql-review/review-rules/naming-index-idx.md
  content/docs/en/sql-review/review-rules/naming-index-uk.md
  content/docs/en/sql-review/review-rules/naming-table.md
  content/docs/en/sql-review/review-rules/overview.md
  content/docs/en/sql-review/review-rules/table-drop-naming.md
  content/docs/en/sql-review/review-rules/table-no-fk.md
  static/docs/schema-review-naming-table.webp
  static/docs/schema-review-table-drop-naming.webp
  static/docs/schema-review-table-no-fk.webp
Owners: @adela-bytebase, @tianzhou

docs: apply suggestions from code review
  content/blog/dev-sre-ops-devops-difference.md
Owners: @adela-bytebase, @tianzhou

docs: address comment
  content/blog/dev-sre-ops-devops-difference.md
Owners: @adela-bytebase, @tianzhou

docs: apply suggestions from code review
  content/blog/dev-sre-ops-devops-difference.md
Owners: @adela-bytebase, @tianzhou

docs: Use “Live demo” instead of “Demo”
  components/Header.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: Use “Live demo” instead of “Demo” (#350)
  components/Header.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: generate sitemap manually
  nuxt.config.js
  package.json
  pnpm-lock.yaml
Owners: @ecmadao, @boojack, @tianzhou

chore: add back generate attr
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

chore: generate sitemap manually (#351)
  nuxt.config.js
  package.json
  pnpm-lock.yaml
Owners: @ecmadao, @boojack, @tianzhou

chore: add chinese blog routes to sitemap
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

chore: remove unused attr
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

chore: update routes
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

chore: add chinese blog routes to sitemap (#352)
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

docs: consolidate deploy-now and live-demo wording
  components/Header.vue
  layouts/content.vue
  locales/en.json
  locales/zh.json
  pages/pricing/index.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: remove unwanted route for sitemap
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

chore: update the doc
  content/docs/en/api/sql-advise.md
Owners: @adela-bytebase, @tianzhou

docs: consolidate deploy-now and live-demo wording (#353)
  components/Header.vue
  layouts/content.vue
  locales/en.json
  locales/zh.json
  pages/pricing/index.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: add drop db restriction doc
  content/docs/en/api/sql-advise.md
  content/docs/en/reference/error-code/advisor.md
  content/docs/en/sql-review/review-rules/database-drop-empty-db.md
  content/docs/en/sql-review/review-rules/overview.md
  static/docs/schema-review-drop-empty-db.webp
Owners: @adela-bytebase, @tianzhou

chore: remove unwanted route for sitemap (#354)
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

docs: apply suggestions from code review
  content/blog/dev-sre-ops-devops-difference.md
Owners: @adela-bytebase, @tianzhou
