Repository bytebase/bytebase.com-old, changes with the owners that CODEOWNERS names for each.
All owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase, @d-bytebase

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                            @ecmadao @boojack @tianzhou

# Content such as docs.
/content/                    @adela-bytebase @tianzhou
/static/                     @adela-bytebase @tianzhou

# Team page
/assets/people/              @tianzhou @d-bytebase
/common/teammate.ts          @tianzhou @d-bytebase

docs: tweak slogon
  locales/en.json
  locales/zh.json
  nuxt.config.js
  pages/index.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: tweak slogon (#392)
  locales/en.json
  locales/zh.json
  nuxt.config.js
  pages/index.vue
Owners: @ecmadao, @boojack, @tianzhou

suggest improvements for workflow
  content/docs/en/how-to/workflow/gitops-feature-branch.md
  static/docs/en/how-to/workflow/gitops-feature-branch/final-setup.webp
  static/docs/en/how-to/workflow/gitops-feature-branch/original-setup.webp
Owners: @adela-bytebase, @tianzhou

image update
  static/docs/en/how-to/workflow/gitops-feature-branch/final-setup.webp
Owners: @adela-bytebase, @tianzhou

docs: suggest improvements for workflow (#393)
  content/docs/en/how-to/workflow/gitops-feature-branch.md
  static/docs/en/how-to/workflow/gitops-feature-branch/final-setup.webp
  static/docs/en/how-to/workflow/gitops-feature-branch/original-setup.webp
Owners: @adela-bytebase, @tianzhou

chore: update sql review config
  .gitignore
  assets/schema-system/mysql.webp
  assets/schema-system/postgres.webp
  assets/sql-review/bb.sql-review.dev.webp
  assets/sql-review/bb.sql-review.prod.webp
  common/sqlReview.ts
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  locales/en.json
  locales/zh.json
  pages/sql-review-guide/index.vue
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

improve quickstart
  content/docs/en/get-started/install/overview.md
  content/docs/en/get-started/quick-start.md
Owners: @adela-bytebase, @tianzhou

chore: update filter
  components/SchemaSystem/SchemaConfigurationPage.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: update sql review config (#394)
  .gitignore
  assets/schema-system/mysql.webp
  assets/schema-system/postgres.webp
  assets/sql-review/bb.sql-review.dev.webp
  assets/sql-review/bb.sql-review.prod.webp
  common/sqlReview.ts
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  locales/en.json
  locales/zh.json
  pages/sql-review-guide/index.vue
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

fix: doc sidebar not changing on content changes
  components/DocLinkBlock.vue
Owners: @ecmadao, @boojack, @tianzhou

fix: doc sidebar not changing on content changes (#396)
  components/DocLinkBlock.vue
Owners: @ecmadao, @boojack, @tianzhou

fix: typo
  locales/zh.json
Owners: @ecmadao, @boojack, @tianzhou

fix: typo (#397)
  locales/zh.json
Owners: @ecmadao, @boojack, @tianzhou

docs:improve quickstart
  content/docs/en/get-started/install/overview.md
  content/docs/en/get-started/quick-start.md
Owners: @adela-bytebase, @tianzhou

docs: improve quickstart & install (#395)
  content/docs/en/get-started/install/overview.md
  content/docs/en/get-started/quick-start.md
Owners: @adela-bytebase, @tianzhou

style: apply shadow and width changes to changelog images
  pages/changelog/_slug/index.vue
  pages/changelog/index.vue
Owners: @ecmadao, @boojack, @tianzhou

style: apply shadow and width changes to changelog images (#398)
  pages/changelog/_slug/index.vue
  pages/changelog/index.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: add more content to dev sre ops difference
  content/blog/dev-sre-ops-devops-difference.md
Owners: @adela-bytebase, @tianzhou

docs: fix typo and format
  content/docs/en/get-started/quick-start.md
Owners: @adela-bytebase, @tianzhou

docs: add more content to dev sre ops difference (#399)
  content/blog/dev-sre-ops-devops-difference.md
Owners: @adela-bytebase, @tianzhou

docs: fix typo and format (#400)
  content/docs/en/get-started/quick-start.md
Owners: @adela-bytebase, @tianzhou

chore: increase the newsletter subscription email field width
  components/SubscribeSection.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: increase the newsletter subscription email field width (#401)
  components/SubscribeSection.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: update install command
  content/docs/en/get-started/install/installation-script.md
Owners: @adela-bytebase, @tianzhou

chore: update install command (#402)
  content/docs/en/get-started/install/installation-script.md
Owners: @adela-bytebase, @tianzhou

docs: update the gif and docs in sql review
  content/docs/en/_layout.md
  content/docs/en/sql-review/review-rules/column-no-null.md
  content/docs/en/sql-review/review-rules/column-required.md
  content/docs/en/sql-review/review-rules/database-drop-empty-db.md
  content/docs/en/sql-review/review-rules/engine-mysql-use-innodb.md
  content/docs/en/sql-review/review-rules/naming-column.md
  content/docs/en/sql-review/review-rules/naming-index-fk.md
  content/docs/en/sql-review/review-rules/naming-index-idx.md
  content/docs/en/sql-review/review-rules/naming-index-uk.md
  content/docs/en/sql-review/review-rules/naming-table.md
  content/docs/en/sql-review/review-rules/overview.md
  content/docs/en/sql-review/review-rules/query-select-no-select-all.md
  content/docs/en/sql-review/review-rules/query-where-no-leading-wildcard-like.md
  content/docs/en/sql-review/review-rules/query-where-require.md
  content/docs/en/sql-review/review-rules/supported-rules.md
  content/docs/en/sql-review/review-rules/table-drop-naming.md
  content/docs/en/sql-review/review-rules/table-no-fk.md
  content/docs/en/sql-review/review-rules/table-require-pk.md
  static/docs/schema-review-change-column-list.gif
  static/docs/schema-review-change-regex.gif
  static/docs/schema-review-change-rule-level.gif
  static/docs/schema-review-change-template.gif
  static/docs/schema-review-check-in-issue.gif
  static/docs/schema-review-create-from-environment-dashboard.gif
  static/docs/schema-review-create-from-policy-dashboard.gif
  static/docs/schema-review-disable-and-delete.gif
  static/docs/schema-review-edit.gif
  static/docs/schema-review-naming-index-pk.webp
  static/docs/schema-review-view.gif
Owners: @adela-bytebase, @tianzhou

docs:add v1.3.0
  VERSION
  content/changelog/bytebase-1-3-0.md
  static/changelog/1.3.0/drawer-display.webp
  static/changelog/1.3.0/git-provider-github.webp
  static/changelog/1.3.0/sql-review-for-pg.webp
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

update the images
  content/changelog/bytebase-1-3-0.md
  static/changelog/1.3.0/backup-retention.gif
  static/changelog/1.3.0/drawer-display.webp
  static/changelog/1.3.0/restore-before-migration.gif
Owners: @adela-bytebase, @tianzhou

docs: add v1.3.0 changelog (#404)
  VERSION
  assets/sql-review/bb.sql-review.dev.webp
  content/changelog/bytebase-1-3-0.md
  static/changelog/1.3.0/backup-retention.gif
  static/changelog/1.3.0/git-provider-github.webp
  static/changelog/1.3.0/restore-before-migration.gif
  static/changelog/1.3.0/sql-review-for-pg.webp
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: fetch sql review files by version
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

chore: fetch sql review files by version (#405)
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

chore: address comment
  static/docs/schema-review-naming-index-pk.webp
Owners: @adela-bytebase, @tianzhou

docs: update the gif and docs in sql review (#403)
  content/docs/en/_layout.md
  content/docs/en/sql-review/review-rules/column-no-null.md
  content/docs/en/sql-review/review-rules/column-required.md
  content/docs/en/sql-review/review-rules/database-drop-empty-db.md
  content/docs/en/sql-review/review-rules/engine-mysql-use-innodb.md
  content/docs/en/sql-review/review-rules/naming-column.md
  content/docs/en/sql-review/review-rules/naming-index-fk.md
  content/docs/en/sql-review/review-rules/naming-index-idx.md
  content/docs/en/sql-review/review-rules/naming-index-uk.md
  content/docs/en/sql-review/review-rules/naming-table.md
  content/docs/en/sql-review/review-rules/overview.md
  content/docs/en/sql-review/review-rules/query-select-no-select-all.md
  content/docs/en/sql-review/review-rules/query-where-no-leading-wildcard-like.md
  content/docs/en/sql-review/review-rules/query-where-require.md
  content/docs/en/sql-review/review-rules/supported-rules.md
  content/docs/en/sql-review/review-rules/table-drop-naming.md
  content/docs/en/sql-review/review-rules/table-no-fk.md
  content/docs/en/sql-review/review-rules/table-require-pk.md
  static/docs/schema-review-change-column-list.gif
  static/docs/schema-review-change-regex.gif
  static/docs/schema-review-change-rule-level.gif
  static/docs/schema-review-change-template.gif
  static/docs/schema-review-check-in-issue.gif
  static/docs/schema-review-create-from-environment-dashboard.gif
  static/docs/schema-review-create-from-policy-dashboard.gif
  static/docs/schema-review-disable-and-delete.gif
  static/docs/schema-review-edit.gif
  static/docs/schema-review-naming-index-pk.webp
  static/docs/schema-review-view.gif
Owners: @adela-bytebase, @tianzhou

docs: add github logo
  assets/logo/github-logo.svg
  components/DatabaseBar.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: add github logo (#406)
  assets/logo/github-logo.svg
  components/DatabaseBar.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: update sql review page and docs
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaRuleConfig.vue
  content/docs/en/sql-review/sql-advisor.md
  locales/en.json
  locales/zh.json
  pages/sql-review-guide/index.vue
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: address comments
  content/docs/en/sql-review/sql-advisor.md
  locales/en.json
  locales/zh.json
Owners: @adela-bytebase, @tianzhou, @ecmadao, @boojack

Update content/docs/en/sql-review/sql-advisor.md
  content/docs/en/sql-review/sql-advisor.md
Owners: @adela-bytebase, @tianzhou

fix: remove log
  components/SchemaSystem/SchemaConfigurationPage.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: update sql review page and docs (#407)
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaRuleConfig.vue
  content/docs/en/sql-review/sql-advisor.md
  locales/en.json
  locales/zh.json
  pages/sql-review-guide/index.vue
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase
