Repository bytebase/bytebase.com-old, changes with the owners that CODEOWNERS names for each.
All owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase, @d-bytebase

docs: add Grace to the team page (#331)
  assets/people/grace.webp
  common/teammate.ts
Owners: @tianzhou, @d-bytebase

docs: fix typo
  content/docs/en/concepts/data-model.md
Owners: @adela-bytebase, @tianzhou

docs: fix typo (#332)
  content/docs/en/concepts/data-model.md
Owners: @adela-bytebase, @tianzhou

fix: broken links
  common/glossary.ts
  content/docs/en/api/sql-advise.md
  content/docs/en/concepts/migration-types.md
  content/docs/en/features/anomaly-center.md
  content/docs/en/features/vcs-integration/add-git-provider.md
  content/docs/en/features/vcs-integration/name-and-organize-schema-files.md
  content/docs/en/features/vcs-integration/troubleshoot.md
  content/docs/en/get-started/deploy-to-production/overview.md
  content/docs/en/operating/disaster-recovery.md
  content/docs/en/operating/how-bytebase-stores-data.md
  content/docs/en/reference/command-line.md
  content/docs/en/reference/error-code/overview.md
  pages/index.vue
  pages/integration/gitlab.vue
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

fix: broken links (#333)
  common/glossary.ts
  content/docs/en/api/sql-advise.md
  content/docs/en/concepts/migration-types.md
  content/docs/en/features/anomaly-center.md
  content/docs/en/features/vcs-integration/add-git-provider.md
  content/docs/en/features/vcs-integration/name-and-organize-schema-files.md
  content/docs/en/features/vcs-integration/troubleshoot.md
  content/docs/en/get-started/deploy-to-production/overview.md
  content/docs/en/operating/disaster-recovery.md
  content/docs/en/operating/how-bytebase-stores-data.md
  content/docs/en/reference/command-line.md
  content/docs/en/reference/error-code/overview.md
  pages/index.vue
  pages/integration/gitlab.vue
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: update roles
  content/docs/en/concepts/roles-and-permissions.md
Owners: @adela-bytebase, @tianzhou

chore: remove role item
  content/docs/en/concepts/roles-and-permissions.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/restoring-a-mysql-database-to-a-point-in-time.md
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/restoring-a-mysql-database-to-a-point-in-time.md
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/restoring-a-mysql-database-to-a-point-in-time.md
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/restoring-a-mysql-database-to-a-point-in-time.md
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/restoring-a-mysql-database-to-a-point-in-time.md
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

chore: update roles (#334)
  content/docs/en/concepts/roles-and-permissions.md
Owners: @adela-bytebase, @tianzhou

Update the UI style
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Correct the user doc URL
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

docs: improve external postgresql
  content/docs/en/_layout.md
  content/docs/en/get-started/deploy-to-production/external-postgres.md
  content/docs/en/operating/backup-data-directory.md
  content/docs/en/operating/disaster-recovery.md
Owners: @adela-bytebase, @tianzhou

change layout
  content/docs/en/_layout.md
Owners: @adela-bytebase, @tianzhou

docs: improve external postgresql (#335)
  content/docs/en/_layout.md
  content/docs/en/get-started/deploy-to-production/external-postgres.md
  content/docs/en/operating/backup-data-directory.md
  content/docs/en/operating/disaster-recovery.md
Owners: @adela-bytebase, @tianzhou

change 5 Mins Quick Start
  content/docs/en/get-started/quick-start.md
Owners: @adela-bytebase, @tianzhou

docs: change layout (#336)
  content/docs/en/_layout.md
  content/docs/en/get-started/quick-start.md
Owners: @adela-bytebase, @tianzhou

Remove UI elements name such as "button"
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Update restoring-a-mysql-database-to-a-point-in-time.md
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

docs: add the blog post for PITR (#329)
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
  static/blog/restoring-a-mysql-database-to-a-point-in-time/del.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/original.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-cover.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-step1.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-step2.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-step3.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-step4.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/result.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/verify.webp
Owners: @adela-bytebase, @tianzhou

fix: ignore files start with dot while loading localization
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

chore: support number type payload
  common/schemaSystem.ts
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaRuleConfig.vue
  components/SchemaSystem/SchemaSystemPreview.vue
Owners: @ecmadao, @boojack, @tianzhou

Update nuxt.config.js
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

fix: reset
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

chore: add comment
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

chore: only load json files
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

fix: only load JSON files for localization (#337)
  nuxt.config.js
Owners: @ecmadao, @boojack, @tianzhou

chore: update doc
  content/docs/en/api/sql-advise.md
  static/docs/openapi-sql-advise.webp
Owners: @adela-bytebase, @tianzhou

apply suggestions
  content/docs/en/_layout.md
  content/docs/en/faq.md
  content/docs/en/multi-tenancy.md
Owners: @adela-bytebase, @tianzhou

rename multi tenancy
  content/docs/en/_layout.md
  content/docs/en/tenant-database-management.md
Owners: @adela-bytebase, @tianzhou

chore(schema system): support number type payload (#338)
  common/schemaSystem.ts
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaRuleConfig.vue
  components/SchemaSystem/SchemaSystemPreview.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: fix SQL review police broken link
  content/docs/en/_layout.md
  content/docs/en/api/sql-advise.md
  content/docs/en/reference/error-code/advisor.md
  content/docs/en/sql-review/review-rules/column-no-null.md
  content/docs/en/sql-review/review-rules/column-required.md
  content/docs/en/sql-review/review-rules/create-schema-review-policy.md
  content/docs/en/sql-review/review-rules/disable-delete-policy.md
  content/docs/en/sql-review/review-rules/edit-schema-review-policy.md
  content/docs/en/sql-review/review-rules/engine-mysql-use-innodb.md
  content/docs/en/sql-review/review-rules/naming-column.md
  content/docs/en/sql-review/review-rules/naming-index-fk.md
  content/docs/en/sql-review/review-rules/naming-index-idx.md
  content/docs/en/sql-review/review-rules/naming-index-uk.md
  content/docs/en/sql-review/review-rules/naming-table.md
  content/docs/en/sql-review/review-rules/overview.md
  content/docs/en/sql-review/review-rules/query-select-no-select-all.md
  content/docs/en/sql-review/review-rules/query-where-no-leading-wildcard-like.md
  content/docs/en/sql-review/review-rules/query-where-require.md
  content/docs/en/sql-review/review-rules/schema-migration-compatibility.md
  content/docs/en/sql-review/review-rules/schema-review-check-in-the-issue.md
  content/docs/en/sql-review/review-rules/table-require-pk.md
  content/docs/en/sql-review/review-rules/view-schema-review-policy.md
  content/docs/en/sql-review/schema-review/overview.md
  content/docs/en/sql-review/schema-review/view-schema-review-policy.md
  content/docs/en/sql-review/sql-advisor.md
Owners: @adela-bytebase, @tianzhou

docs: fix SQL review police broken link (#341)
  content/docs/en/_layout.md
  content/docs/en/api/sql-advise.md
  content/docs/en/reference/error-code/advisor.md
  content/docs/en/sql-review/review-rules/column-no-null.md
  content/docs/en/sql-review/review-rules/column-required.md
  content/docs/en/sql-review/review-rules/create-schema-review-policy.md
  content/docs/en/sql-review/review-rules/disable-delete-policy.md
  content/docs/en/sql-review/review-rules/edit-schema-review-policy.md
  content/docs/en/sql-review/review-rules/engine-mysql-use-innodb.md
  content/docs/en/sql-review/review-rules/naming-column.md
  content/docs/en/sql-review/review-rules/naming-index-fk.md
  content/docs/en/sql-review/review-rules/naming-index-idx.md
  content/docs/en/sql-review/review-rules/naming-index-uk.md
  content/docs/en/sql-review/review-rules/naming-table.md
  content/docs/en/sql-review/review-rules/overview.md
  content/docs/en/sql-review/review-rules/query-select-no-select-all.md
  content/docs/en/sql-review/review-rules/query-where-no-leading-wildcard-like.md
  content/docs/en/sql-review/review-rules/query-where-require.md
  content/docs/en/sql-review/review-rules/schema-migration-compatibility.md
  content/docs/en/sql-review/review-rules/schema-review-check-in-the-issue.md
  content/docs/en/sql-review/review-rules/table-require-pk.md
  content/docs/en/sql-review/review-rules/view-schema-review-policy.md
  content/docs/en/sql-review/schema-review/overview.md
  content/docs/en/sql-review/schema-review/view-schema-review-policy.md
  content/docs/en/sql-review/sql-advisor.md
Owners: @adela-bytebase, @tianzhou

docs: fix broken links
  common/glossary.ts
  components/ActionSection.vue
  components/Header.vue
  content/docs/en/administration/backup-data-directory.md
  content/docs/en/administration/production-setup.md
  content/docs/en/administration/webhook-integration/overview.md
  content/docs/en/anomaly-detection/anomaly-center.md
  content/docs/en/change-database/migration-history.md
  content/docs/en/concepts/data-model.md
  content/docs/en/concepts/migration-types.md
  content/docs/en/disaster-recovery/backup-restore-database/backup.md
  content/docs/en/disaster-recovery/backup-restore-database/overview.md
  content/docs/en/disaster-recovery/point-in-time-recovery-for-mysql.md
  content/docs/en/get-started/configure-workspace/register-accounts.md
  content/docs/en/get-started/install/deploy-with-docker.md
  content/docs/en/get-started/install/overview.md
  content/docs/en/get-started/installing-bytebase/deploy-with-docker.md
  content/docs/en/get-started/installing-bytebase/overview.md
  content/docs/en/reference/command-line.md
  content/docs/en/reference/error-code/core.md
  content/docs/en/vcs-integration/create-the-first-baseline-migration.md
  content/docs/en/vcs-integration/enable-version-control-workflow.md
  content/docs/en/vcs-integration/name-and-organize-schema-files.md
  content/docs/en/vcs-integration/overview.md
  content/docs/en/vcs-integration/troubleshoot.md
  layouts/content.vue
  pages/index.vue
  pages/integration/gitlab.vue
  pages/pricing/index.vue
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

remove link prefix & old files
  content/docs/en/get-started/install/overview.md
  content/docs/en/get-started/installing-bytebase/build-from-source-code.md
  content/docs/en/get-started/installing-bytebase/deploy-with-docker.md
  content/docs/en/get-started/installing-bytebase/external-postgres.md
  content/docs/en/get-started/installing-bytebase/installation-script.md
  content/docs/en/get-started/installing-bytebase/overview.md
  content/docs/en/reference/command-line.md
Owners: @adela-bytebase, @tianzhou

docs: organize static files
  content/docs/en/disaster-recovery/point-in-time-recovery-for-mysql.md
  content/docs/en/how-to-contribute.md
  content/docs/en/vcs-integration/add-git-provider.md
  content/docs/en/vcs-integration/enable-version-control-workflow.md
  content/docs/en/vcs-integration/name-and-organize-schema-files.md
  content/docs/en/vcs-integration/troubleshoot.md
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-1.webp
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-2.webp
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-3.webp
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-4.webp
  static/docs/en/disaster-recovery/point-in-time-recovery-for-mysql/pitr-restore-step-5.webp
  static/docs/en/how-to-contribute/data-model-v1.webp
  static/docs/en/how-to-contribute/tech-stack.webp
  static/docs/en/vcs-integration/add-git-provider/add-git-provider-step1.webp
  static/docs/en/vcs-integration/add-git-provider/add-git-provider.webp
  static/docs/en/vcs-integration/add-git-provider/gitlab-admin-area.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step1.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step2.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step3.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step4.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-gitlab-step5.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step1.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step2.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step3.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step4.webp
  static/docs/en/vcs-integration/enable-version-control-workflow/project-vcs-step5.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step1.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step2.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step3.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step4.webp
  static/docs/en/vcs-integration/name-and-organize-schema-files/organize-schema-files-step5.webp
  static/docs/en/vcs-integration/troubleshoot/cors-error.webp
  static/docs/en/vcs-integration/troubleshoot/oauth-failed.webp
Owners: @adela-bytebase, @tianzhou

docs: fix broken links (#342)
  common/glossary.ts
  components/ActionSection.vue
  components/Header.vue
  content/docs/en/administration/backup-data-directory.md
  content/docs/en/administration/production-setup.md
  content/docs/en/administration/webhook-integration/overview.md
  content/docs/en/anomaly-detection/anomaly-center.md
  content/docs/en/change-database/migration-history.md
  content/docs/en/concepts/data-model.md
  content/docs/en/concepts/migration-types.md
  content/docs/en/disaster-recovery/backup-restore-database/backup.md
  content/docs/en/disaster-recovery/backup-restore-database/overview.md
  content/docs/en/disaster-recovery/point-in-time-recovery-for-mysql.md
  content/docs/en/get-started/configure-workspace/register-accounts.md
  content/docs/en/get-started/install/deploy-with-docker.md
  content/docs/en/get-started/install/overview.md
  content/docs/en/get-started/installing-bytebase/build-from-source-code.md
  content/docs/en/get-started/installing-bytebase/deploy-with-docker.md
  content/docs/en/get-started/installing-bytebase/external-postgres.md
  content/docs/en/get-started/installing-bytebase/installation-script.md
  content/docs/en/get-started/installing-bytebase/overview.md
  content/docs/en/reference/command-line.md
  content/docs/en/reference/error-code/core.md
  content/docs/en/vcs-integration/create-the-first-baseline-migration.md
  content/docs/en/vcs-integration/enable-version-control-workflow.md
  content/docs/en/vcs-integration/name-and-organize-schema-files.md
  content/docs/en/vcs-integration/overview.md
  content/docs/en/vcs-integration/troubleshoot.md
  layouts/content.vue
  pages/index.vue
  pages/integration/gitlab.vue
  pages/pricing/index.vue
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                            @ecmadao @boojack @tianzhou

# Content such as docs.
/content/                    @adela-bytebase @tianzhou
/static/                     @adela-bytebase @tianzhou

# Team page
/assets/people/              @tianzhou @d-bytebase
/common/teammate.ts          @tianzhou @d-bytebase
