Repository bytebase/bytebase.com-old, changes with the owners that CODEOWNERS names for each.
All owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase, @d-bytebase

Update content/blog/how-to-configure-clickhouse-ssl-connection.md
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

fix: use ZiPeng
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

upload-new-changelog
  VERSION
  content/changelog/bytebase-1-2-2.md
  static/changelog/1.2.2/database-connection-for-sql-advise-api.webp
  static/changelog/1.2.2/drop-table-naming-convention.webp
  static/changelog/1.2.2/fk-check.webp
  static/changelog/1.2.2/gh-ost.webp
  static/changelog/1.2.2/issue-creator-filter.webp
  static/changelog/1.2.2/issue-list-with-id.webp
  static/changelog/1.2.2/schema-review-naming-table.webp
  static/changelog/1.2.2/schema-review-table-drop-naming.webp
  static/changelog/1.2.2/schema-review-table-no-fk.webp
  static/changelog/1.2.2/side-drawer-help-tip.gif
  static/changelog/1.2.2/sql-statement-guide.webp
  static/changelog/1.2.2/table-naming-check.webp
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

apply suggestiong
  content/changelog/bytebase-1-2-2.md
Owners: @adela-bytebase, @tianzhou

feat: gh-ost integration user doc (#344)
  content/docs/en/_layout.md
  content/docs/en/change-database/online-schema-migration-for-mysql.md
  static/docs/gh-ost-step-1-1.webp
  static/docs/gh-ost-step-1-2.webp
  static/docs/gh-ost-step-1-3.webp
  static/docs/gh-ost-step-2-1.webp
  static/docs/gh-ost-step-2-2.webp
  static/docs/gh-ost-step-3-1.webp
  static/docs/gh-ost-step-4-1.webp
  static/docs/gh-ost-step-4-2.webp
  static/docs/gh-ost-step-5-1.webp
  static/docs/gh-ost-step-5-2.webp
Owners: @adela-bytebase, @tianzhou

apply suggestion
  content/changelog/bytebase-1-2-2.md
Owners: @adela-bytebase, @tianzhou

docs: upload-new-changelog (#361)
  VERSION
  content/changelog/bytebase-1-2-2.md
  static/changelog/1.2.2/database-connection-for-sql-advise-api.webp
  static/changelog/1.2.2/drop-table-naming-convention.webp
  static/changelog/1.2.2/fk-check.webp
  static/changelog/1.2.2/gh-ost.webp
  static/changelog/1.2.2/issue-creator-filter.webp
  static/changelog/1.2.2/issue-list-with-id.webp
  static/changelog/1.2.2/schema-review-naming-table.webp
  static/changelog/1.2.2/schema-review-table-drop-naming.webp
  static/changelog/1.2.2/schema-review-table-no-fk.webp
  static/changelog/1.2.2/side-drawer-help-tip.gif
  static/changelog/1.2.2/sql-statement-guide.webp
  static/changelog/1.2.2/table-naming-check.webp
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: update changelog page style
  content/changelog/bytebase-1-2-1.md
  pages/changelog/index.vue
Owners: @adela-bytebase, @tianzhou, @ecmadao, @boojack

docs: add more separator to the doc TOC
  content/docs/en/_layout.md
Owners: @adela-bytebase, @tianzhou

chore: update changelog page style (#362)
  content/changelog/bytebase-1-2-1.md
  pages/changelog/index.vue
Owners: @adela-bytebase, @tianzhou, @ecmadao, @boojack

docs: add more separator to the doc TOC (#363)
  content/docs/en/_layout.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/how-to-configure-clickhouse-ssl-connection.md
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

docs: publish blog how to configure clickhouse ssl connection (#358)
  content/blog/how-to-configure-clickhouse-ssl-connection.md
  static/blog/how-to-configure-clickhouse-ssl-connection/files.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/install-clickhouse.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/key-chain.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/lock.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/test-through-clickhouse-client.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/test-through-mysql-client.webp
Owners: @adela-bytebase, @tianzhou

docs: improve production setup doc
  content/docs/en/_layout.md
  content/docs/en/administration/production-setup.md
  content/docs/en/faq.md
Owners: @adela-bytebase, @tianzhou

docs: tweak
  content/docs/en/administration/production-setup.md
Owners: @adela-bytebase, @tianzhou

docs: improve production setup and add https setup in FAQ (#364)
  content/docs/en/_layout.md
  content/docs/en/administration/production-setup.md
  content/docs/en/faq.md
Owners: @adela-bytebase, @tianzhou

style: hide scroll bar of blog toc
  components/Toc.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: deploy to kubernetes
  content/docs/en/_layout.md
  content/docs/en/get-started/install/deploy-to-kubernetes.md
Owners: @adela-bytebase, @tianzhou

style: hide scroll bar of blog toc (#365)
  components/Toc.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: add calibreapp action
  .github/workflows/calibreapp-image-actions.yml
Owners: @ecmadao, @boojack, @tianzhou

docs: use h2 heading for Setup https
  content/docs/en/administration/production-setup.md
Owners: @adela-bytebase, @tianzhou

chore: add calibreapp action (#367)
  .github/workflows/calibreapp-image-actions.yml
Owners: @ecmadao, @boojack, @tianzhou

docs: use seo friendly blog name
  content/blog/code-review-chinese.md
  content/blog/how-to-contribute-to-complex-projects-chinese.md
  content/blog/retool-4tb-postgres-upgrade-chinese.md
Owners: @adela-bytebase, @tianzhou

docs: use h2 heading for Setup https (#368)
  content/docs/en/administration/production-setup.md
Owners: @adela-bytebase, @tianzhou

chore: test
  static/star-history-2022722.png
Owners: @adela-bytebase, @tianzhou

chore: remove test image
  static/star-history-2022722.png
Owners: @adela-bytebase, @tianzhou

docs: use seo friendly blog name (#369)
  content/blog/code-review-chinese.md
  content/blog/how-to-contribute-to-complex-projects-chinese.md
  content/blog/retool-4tb-postgres-upgrade-chinese.md
Owners: @adela-bytebase, @tianzhou

chore: update `LoadBalancer`
  content/docs/en/_layout.md
  content/docs/en/get-started/install/deploy-to-kubernetes.md
Owners: @adela-bytebase, @tianzhou

docs: deploy to kubernetes (#366)
  content/docs/en/_layout.md
  content/docs/en/get-started/install/deploy-to-kubernetes.md
Owners: @adela-bytebase, @tianzhou

chore: update version block
  content/docs/en/get-started/install/deploy-to-kubernetes.md
  content/docs/en/get-started/install/deploy-with-docker.md
Owners: @adela-bytebase, @tianzhou

chore: update version block (#371)
  content/docs/en/get-started/install/deploy-to-kubernetes.md
  content/docs/en/get-started/install/deploy-with-docker.md
Owners: @adela-bytebase, @tianzhou

docs: use https instead of http link
  content/blog/how-bytebase-uses-render.md
  content/docs/en/vcs-integration/name-and-organize-schema-files.md
Owners: @adela-bytebase, @tianzhou

chore: update the resource url for sql review
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

chore: update script
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

chore: update the resource url for sql review (#373)
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

docs: remove brand from the blog menu bar
  layouts/blog.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: remove brand from the blog menu bar (#374)
  layouts/blog.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: reduce sql editor content
  locales/en.json
  locales/zh.json
  pages/index.vue
  static/docs/sql-editor_autocomplete.webp
  static/docs/sql-editor_databases-search.webp
  static/docs/sql-editor_databases-table-schema.webp
  static/docs/sql-editor_export-data.webp
  static/docs/sql-editor_format-sql.webp
  static/docs/sql-editor_history.webp
  static/docs/sql-editor_search-result.webp
  static/docs/sql-editor_share-link-access.webp
  static/docs/sql-editor_share-popover.webp
  static/docs/sql-editor_sheets.webp
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: update docs
  content/docs/en/reference/error-code/advisor.md
  content/docs/en/sql-review/review-rules/table-drop-naming.md
  static/docs/schema-review-table-drop-naming.webp
Owners: @adela-bytebase, @tianzhou

docs: reduce sql editor content (#375)
  assets/people/candy.webp
  assets/people/changyu.webp
  assets/people/edward.webp
  assets/people/elon.webp
  assets/people/grace.webp
  assets/people/lucy.webp
  assets/people/mila.webp
  assets/people/steven.webp
  assets/people/zhengx.webp
  assets/people/zilong.webp
  assets/plans/plan-free.webp
  locales/en.json
  locales/zh.json
  pages/index.vue
  static/blog/how-do-we-build-a-highly-available-service-in-the-cloud/cloud.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/lock.webp
  static/docs/en/get-started/quick-start/3-containers-in-docker.webp
  static/docs/sql-editor_autocomplete.webp
  static/docs/sql-editor_databases-search.webp
  static/docs/sql-editor_databases-table-schema.webp
  static/docs/sql-editor_export-data.webp
  static/docs/sql-editor_format-sql.webp
  static/docs/sql-editor_history.webp
  static/docs/sql-editor_search-result.webp
  static/docs/sql-editor_share-link-access.webp
  static/docs/sql-editor_share-popover.webp
  static/docs/sql-editor_sheets.webp
Owners: @tianzhou, @d-bytebase, @ecmadao, @boojack, @adela-bytebase

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                            @ecmadao @boojack @tianzhou

# Content such as docs.
/content/                    @adela-bytebase @tianzhou
/static/                     @adela-bytebase @tianzhou

# Team page
/assets/people/              @tianzhou @d-bytebase
/common/teammate.ts          @tianzhou @d-bytebase
