Repository bytebase/bytebase.com-old, changes with the owners that CODEOWNERS names for each.
All owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase, @d-bytebase

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                            @ecmadao @boojack @tianzhou

# Content such as docs.
/content/                    @adela-bytebase @tianzhou
/static/                     @adela-bytebase @tianzhou

# Team page
/assets/people/              @tianzhou @d-bytebase
/common/teammate.ts          @tianzhou @d-bytebase

Update content/docs/en/api/sql-advise.md
  content/docs/en/api/sql-advise.md
Owners: @adela-bytebase, @tianzhou

Update content/docs/en/api/sql-advise.md
  content/docs/en/api/sql-advise.md
Owners: @adela-bytebase, @tianzhou

Update content/docs/en/reference/error-code/advisor.md
  content/docs/en/reference/error-code/advisor.md
Owners: @adela-bytebase, @tianzhou

Update content/docs/en/reference/error-code/advisor.md
  content/docs/en/reference/error-code/advisor.md
Owners: @adela-bytebase, @tianzhou

Update content/docs/en/sql-review/review-rules/database-drop-empty-db.md
  content/docs/en/sql-review/review-rules/database-drop-empty-db.md
Owners: @adela-bytebase, @tianzhou

Update content/docs/en/sql-review/review-rules/database-drop-empty-db.md
  content/docs/en/sql-review/review-rules/database-drop-empty-db.md
Owners: @adela-bytebase, @tianzhou

Update content/docs/en/sql-review/review-rules/table-drop-naming.md
  content/docs/en/sql-review/review-rules/table-drop-naming.md
Owners: @adela-bytebase, @tianzhou

Update content/docs/en/sql-review/review-rules/table-no-fk.md
  content/docs/en/sql-review/review-rules/table-no-fk.md
Owners: @adela-bytebase, @tianzhou

chore: address comment
  content/docs/en/sql-review/review-rules/table-no-fk.md
Owners: @adela-bytebase, @tianzhou

docs: Dev, SRE, Operations, DevOps - What’s the Difference (#348)
  content/blog/dev-sre-ops-devops-difference.md
  static/blog/dev-sre-ops-devops-difference/dev-sre-ops.webp
  static/blog/dev-sre-ops-devops-difference/pager.webp
Owners: @adela-bytebase, @tianzhou

docs: fix broken links
  content/blog/how-bytebase-uses-render.md
  content/changelog/bytebase-0-7-0.md
  content/changelog/bytebase-0-7-1.md
  content/changelog/bytebase-0-8-0.md
  content/changelog/bytebase-1-0-4.md
Owners: @adela-bytebase, @tianzhou

docs: update docs for sql review rules (#349)
  content/docs/en/api/sql-advise.md
  content/docs/en/reference/error-code/advisor.md
  content/docs/en/sql-review/review-rules/database-drop-empty-db.md
  content/docs/en/sql-review/review-rules/naming-column.md
  content/docs/en/sql-review/review-rules/naming-index-fk.md
  content/docs/en/sql-review/review-rules/naming-index-idx.md
  content/docs/en/sql-review/review-rules/naming-index-uk.md
  content/docs/en/sql-review/review-rules/naming-table.md
  content/docs/en/sql-review/review-rules/overview.md
  content/docs/en/sql-review/review-rules/table-drop-naming.md
  content/docs/en/sql-review/review-rules/table-no-fk.md
  static/docs/schema-review-drop-empty-db.webp
  static/docs/schema-review-naming-table.webp
  static/docs/schema-review-table-drop-naming.webp
  static/docs/schema-review-table-no-fk.webp
Owners: @adela-bytebase, @tianzhou

docs: fix broken links (#355)
  content/blog/how-bytebase-uses-render.md
  content/changelog/bytebase-0-7-0.md
  content/changelog/bytebase-0-7-1.md
  content/changelog/bytebase-0-8-0.md
  content/changelog/bytebase-1-0-4.md
Owners: @adela-bytebase, @tianzhou

docs: change http://bytebase.com to https://bytebase.com
  content/blog/bytebase-redefining-dba.md
  content/changelog/bytebase-0-4-1.md
  content/changelog/bytebase-1-0-2.md
  content/changelog/bytebase-1-0-3.md
Owners: @adela-bytebase, @tianzhou

docs:Add several ClickHouse tutorials
  content/docs/en/database-how-to/_layout.md
  content/docs/en/database-how-to/clickhouse/how-to-create-a-database-in-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-create-a-table-in-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-list-tables-from-a-database-in-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-rename-a-table-in-clickhouse.md
Owners: @adela-bytebase, @tianzhou

docs: publish blog how to configure clickhouse ssl connection
  content/blog/how-to-configure-clickhouse-ssl-connection.md
  static/blog/how-to-configure-clickhouse-ssl-connection/files.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/install-clickhouse.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/ssl-key-chain.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/test-through-clickhouse-client.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/test-through-mysql-client.webp
Owners: @adela-bytebase, @tianzhou

chore: update
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

chore: update
  content/blog/how-to-configure-clickhouse-ssl-connection.md
  static/blog/how-to-configure-clickhouse-ssl-connection/files.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/install-clickhouse.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/key-chain.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/ssl-key-chain.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/test-through-clickhouse-client.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/test-through-mysql-client.webp
Owners: @adela-bytebase, @tianzhou

chore: update parameters for sql advise api docs (#340)
  content/docs/en/api/sql-advise.md
  static/docs/openapi-sql-advise.webp
Owners: @adela-bytebase, @tianzhou

chore: add feature image
  content/blog/how-to-configure-clickhouse-ssl-connection.md
  static/blog/how-to-configure-clickhouse-ssl-connection/lock.webp
Owners: @adela-bytebase, @tianzhou

Update content/blog/how-to-configure-clickhouse-ssl-connection.md
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/how-to-configure-clickhouse-ssl-connection.md
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

docs:fix
  content/docs/en/database-how-to/_layout.md
  content/docs/en/database-how-to/clickhouse/how-to-create-a-database-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-create-a-table-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-list-tables-from-a-database-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-list-tables-from-a-database-in-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-rename-a-table-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-rename-a-table-in-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-run-clickhouse-docker.md
Owners: @adela-bytebase, @tianzhou

docs: Add several ClickHouse tutorials (#357)
  content/docs/en/database-how-to/_layout.md
  content/docs/en/database-how-to/clickhouse/how-to-create-a-database-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-create-a-table-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-list-tables-from-a-database-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-rename-a-table-clickhouse.md
  content/docs/en/database-how-to/clickhouse/how-to-run-clickhouse-docker.md
Owners: @adela-bytebase, @tianzhou

docs: change http://bytebase.com to https://bytebase.com (#356)
  content/blog/bytebase-redefining-dba.md
  content/changelog/bytebase-0-4-1.md
  content/changelog/bytebase-1-0-2.md
  content/changelog/bytebase-1-0-3.md
Owners: @adela-bytebase, @tianzhou

chore: add breadcrumb to docs
  components/DocumentViewer.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: render separator in docs sidebar
  components/DocsSidebar.vue
  content/docs/en/_layout.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: update layout
  content/docs/en/_layout.md
Owners: @adela-bytebase, @tianzhou

chore: update
  common/const.ts
  components/DocsSidebar.vue
  components/DocumentViewer.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: render separator in docs sidebar (#360)
  components/DocsSidebar.vue
  content/docs/en/_layout.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: remove new line
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/how-to-configure-clickhouse-ssl-connection.md
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

Apply suggestions from code review
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

chore: optimize struct
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

chore: update
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

chore: update title
  components/DocumentViewer.vue
Owners: @ecmadao, @boojack, @tianzhou

feat: add an overview in front of the article
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

chore: add breadcrumb to docs (#359)
  common/const.ts
  components/DocsSidebar.vue
  components/DocumentViewer.vue
Owners: @ecmadao, @boojack, @tianzhou

Update content/blog/how-to-configure-clickhouse-ssl-connection.md
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/how-to-configure-clickhouse-ssl-connection.md
  content/blog/how-to-configure-clickhouse-ssl-connection.md
Owners: @adela-bytebase, @tianzhou
