Repository bytebase/bytebase.com-old, changes with the owners that CODEOWNERS names for each.
All owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase, @d-bytebase

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                            @ecmadao @boojack @tianzhou

# Content such as docs.
/content/                    @adela-bytebase @tianzhou
/static/                     @adela-bytebase @tianzhou

# Team page
/assets/people/              @tianzhou @d-bytebase
/common/teammate.ts          @tianzhou @d-bytebase

fix: update description for SQL review
  locales/en.json
  locales/zh.json
Owners: @ecmadao, @boojack, @tianzhou

fix: update description for SQL review (#408)
  locales/en.json
  locales/zh.json
Owners: @ecmadao, @boojack, @tianzhou

chore: update anchor for error code
  content/docs/en/reference/error-code/advisor.md
  content/docs/en/reference/error-code/core.md
Owners: @adela-bytebase, @tianzhou

chore: update anchor for error code (#409)
  content/docs/en/reference/error-code/advisor.md
  content/docs/en/reference/error-code/core.md
Owners: @adela-bytebase, @tianzhou

fix: users resubscribe the newsletter
  components/SubscribeSection.vue
  plugin/segment.ts
Owners: @ecmadao, @boojack, @tianzhou

fix: users resubscribe the newsletter (#410)
  components/SubscribeSection.vue
  plugin/segment.ts
Owners: @ecmadao, @boojack, @tianzhou

fix: typo & ordering
  content/docs/en/document-write-guide.md
  content/docs/en/faq.md
Owners: @adela-bytebase, @tianzhou

fix: typo & ordering (#411)
  content/docs/en/document-write-guide.md
  content/docs/en/faq.md
Owners: @adela-bytebase, @tianzhou

Add files via upload
  content/blog/Introducing gh-ost Based Online Schema Migration for MySQL.md
Owners: @adela-bytebase, @tianzhou

Create pic.md
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/pic.md
Owners: @adela-bytebase, @tianzhou

Add screenshots for the gh-ost blog
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/Feishu20220809-101711.png
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/online-schema-migration.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/overview.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/result.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_1_1.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_1_2.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_1_3.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_2.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_3.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_4_1.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_4_2.webp
Owners: @adela-bytebase, @tianzhou

Delete Feishu20220809-101711.png
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/Feishu20220809-101711.png
Owners: @adela-bytebase, @tianzhou

Delete pic.md
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/pic.md
Owners: @adela-bytebase, @tianzhou

Update some screenshots
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/cover.webp
Owners: @adela-bytebase, @tianzhou

Update and rename Introducing gh-ost Based Online Schema Migration for MySQL.md to Introducing-gh-ost-based-online-schema-migration-for-mysql
  content/blog/ Introducing-gh-ost-based-online-schema-migration-for-mysql
Owners: @adela-bytebase, @tianzhou

Delete step_2.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_2.webp
Owners: @adela-bytebase, @tianzhou

Update Introducing-gh-ost-based-online-schema-migration-for-mysql
  content/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql
Owners: @adela-bytebase, @tianzhou

chore: update docs and the yaml file
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  content/docs/en/sql-review/review-rules/overview.md
  content/docs/en/sql-review/review-rules/supported-rules.md
  content/docs/en/sql-review/rules.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: update docs and the yaml file (#413)
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  content/docs/en/sql-review/review-rules/overview.md
  content/docs/en/sql-review/review-rules/supported-rules.md
  content/docs/en/sql-review/rules.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: update way of subscription
  pages/demo/index.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: change wording and change live demo link
  components/ActionSection.vue
  locales/zh.json
Owners: @ecmadao, @boojack, @tianzhou

feat: add demo request entry
  components/Icons/Calendar.vue
  locales/en.json
  locales/zh.json
  pages/demo/index.vue
Owners: @ecmadao, @boojack, @tianzhou

Update and rename this blog
  content/blog/gh-ost-based-online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

Update gh-ost-based-online-schema-migration-for-mysql.md
  content/blog/gh-ost-based-online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

Create test.md
  static/blog/gh-ost-based-online-schema-migration-for-mysql/test.md
Owners: @adela-bytebase, @tianzhou

Add files via upload
  static/blog/gh-ost-based-online-schema-migration-for-mysql/cover.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/online-schema-migration.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/overview.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/result.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/step_1_1.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/step_1_2.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/step_1_3.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/step_2.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/step_4_1.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/step_4_2.webp
Owners: @adela-bytebase, @tianzhou

Delete static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql directory
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/cover.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/online-schema-migration.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/overview.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/result.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_1_1.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_1_2.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_1_3.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_3.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_4_1.webp
  static/blog/Introducing-gh-ost-based-online-schema-migration-for-mysql/step_4_2.webp
Owners: @adela-bytebase, @tianzhou

docs: add youtube tutorials and separate vcs sections
  content/docs/en/_layout.md
  content/docs/en/get-started/quick-start.md
  content/docs/en/vcs-integration/add-git-provider.md
  content/docs/en/vcs-integration/github-com.md
  content/docs/en/vcs-integration/self-host-gitlab.md
Owners: @adela-bytebase, @tianzhou

Update gh-ost-based-online-schema-migration-for-mysql.md
  content/blog/gh-ost-based-online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

Update gh-ost-based-online-schema-migration-for-mysql.md
  content/blog/gh-ost-based-online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

Update locales/zh.json
  locales/zh.json
Owners: @ecmadao, @boojack, @tianzhou

Update locales/en.json
  locales/en.json
Owners: @ecmadao, @boojack, @tianzhou

Update content/blog/gh-ost-based-online-schema-migration-for-mysql.md
  content/blog/gh-ost-based-online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/gh-ost-based-online-schema-migration-for-mysql.md
  content/blog/gh-ost-based-online-schema-migration-for-mysql.md
Owners: @adela-bytebase, @tianzhou

apply suggestions
  content/docs/en/vcs-integration/add-git-provider.md
Owners: @adela-bytebase, @tianzhou

Delete test.md
  static/blog/gh-ost-based-online-schema-migration-for-mysql/test.md
Owners: @adela-bytebase, @tianzhou

Delete step_2.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/step_2.webp
Owners: @adela-bytebase, @tianzhou

Add files via upload
  static/blog/gh-ost-based-online-schema-migration-for-mysql/step_3.webp
Owners: @adela-bytebase, @tianzhou

feat: add demo request entry (#414)
  components/ActionSection.vue
  components/Icons/Calendar.vue
  locales/en.json
  locales/zh.json
  pages/demo/index.vue
Owners: @ecmadao, @boojack, @tianzhou

Delete online-schema-migration.webp
  static/blog/gh-ost-based-online-schema-migration-for-mysql/online-schema-migration.webp
Owners: @adela-bytebase, @tianzhou
