Repository bytebase/bytebase.com-old, changes with the owners that CODEOWNERS names for each.
All owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase, @d-bytebase

docs: use https instead of http link (#372)
  content/blog/how-bytebase-uses-render.md
  content/docs/en/vcs-integration/name-and-organize-schema-files.md
Owners: @adela-bytebase, @tianzhou

docs: rename database-how-to to how-to
  common/const.ts
  content/docs/en/database-how-to/_layout.md
  content/docs/en/how-to/_layout.md
  content/docs/en/how-to/clickhouse/how-to-create-a-database-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-create-a-table-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-list-tables-from-a-database-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-rename-a-table-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-run-clickhouse-docker.md
  layouts/content.vue
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

docs: rename database-how-to to how-to (#377)
  common/const.ts
  content/docs/en/database-how-to/_layout.md
  content/docs/en/how-to/_layout.md
  content/docs/en/how-to/clickhouse/how-to-create-a-database-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-create-a-table-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-list-tables-from-a-database-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-rename-a-table-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-run-clickhouse-docker.md
  layouts/content.vue
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

Down-level headings for GitLab CE/EE
  content/docs/en/vcs-integration/add-git-provider.md
Owners: @adela-bytebase, @tianzhou

Add GitHub.com
  content/docs/en/vcs-integration/add-git-provider.md
  static/docs/en/vcs-integration/add-git-provider/add-git-provider-github-com-step1.webp
  static/docs/en/vcs-integration/add-git-provider/github-admin-settings.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step1.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step2.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step3.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step4.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step5.webp
Owners: @adela-bytebase, @tianzhou

Update content/docs/en/reference/error-code/advisor.md
  content/docs/en/reference/error-code/advisor.md
Owners: @adela-bytebase, @tianzhou

chore(docs): update docs for SQL Review (#376)
  assets/people/grace.webp
  content/docs/en/reference/error-code/advisor.md
  content/docs/en/sql-review/review-rules/table-drop-naming.md
  static/blog/how-do-we-build-a-highly-available-service-in-the-cloud/cloud.webp
  static/blog/how-to-configure-clickhouse-ssl-connection/lock.webp
  static/docs/schema-review-table-drop-naming.webp
Owners: @tianzhou, @d-bytebase, @adela-bytebase

docs: add how to add Git provider for GitHub.com (#378)
  content/docs/en/vcs-integration/add-git-provider.md
  static/docs/en/vcs-integration/add-git-provider/add-git-provider-github-com-step1.webp
  static/docs/en/vcs-integration/add-git-provider/github-admin-settings.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step1.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step2.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step3.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step4.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step5.webp
Owners: @adela-bytebase, @tianzhou

docs: improve doc based on grammarly suggestion
  content/blog/dev-sre-ops-devops-difference.md
Owners: @adela-bytebase, @tianzhou

docs: upload 30 saas services blog
  content/blog/30+saas-services-behind-startup.md
  static/blog/30+saas-services-behind-startup/30+saas-services-behind-startup.webp
  static/blog/30+saas-services-behind-startup/algolia-search.webp
  static/blog/30+saas-services-behind-startup/bytebase-on-gitpod.webp
  static/blog/30+saas-services-behind-startup/casual-dashboard.webp
  static/blog/30+saas-services-behind-startup/excalidraw-bytebase-architecture.webp
  static/blog/30+saas-services-behind-startup/excalidraw-bytebase-console.webp
  static/blog/30+saas-services-behind-startup/intercom-bot.webp
  static/blog/30+saas-services-behind-startup/metabase.webp
  static/blog/30+saas-services-behind-startup/oslash.webp
  static/blog/30+saas-services-behind-startup/pulley.webp
  static/blog/30+saas-services-behind-startup/website-status.webp
Owners: @adela-bytebase, @tianzhou

update feature image
  static/blog/30+saas-services-behind-startup/30+saas-services-behind-startup.webp
Owners: @adela-bytebase, @tianzhou

docs: improve doc based on grammarly suggestion (#379)
  content/blog/dev-sre-ops-devops-difference.md
Owners: @adela-bytebase, @tianzhou

docs: add “Connect ClickHouse with SSL” to how-to
  content/docs/en/how-to/_layout.md
  content/docs/en/how-to/clickhouse/how-to-connect-clickhouse-ssl.md
Owners: @adela-bytebase, @tianzhou

apply suggestions
  content/blog/30saas-services-behind-startup.md
  static/blog/30+saas-services-behind-startup/30+saas-services-behind-startup.webp
  static/blog/30saas-services-behind-startup/30saas-services-behind-startup.webp
  static/blog/30saas-services-behind-startup/algolia-search.webp
  static/blog/30saas-services-behind-startup/bytebase-on-gitpod.webp
  static/blog/30saas-services-behind-startup/casual-dashboard.webp
  static/blog/30saas-services-behind-startup/excalidraw-bytebase-architecture.webp
  static/blog/30saas-services-behind-startup/excalidraw-bytebase-console.webp
  static/blog/30saas-services-behind-startup/intercom-bot.webp
  static/blog/30saas-services-behind-startup/metabase.webp
  static/blog/30saas-services-behind-startup/oslash.webp
  static/blog/30saas-services-behind-startup/pulley.webp
  static/blog/30saas-services-behind-startup/website-status.webp
Owners: @adela-bytebase, @tianzhou

docs: add “Connect ClickHouse with SSL” to how-to (#381)
  content/docs/en/how-to/_layout.md
  content/docs/en/how-to/clickhouse/how-to-connect-clickhouse-ssl.md
Owners: @adela-bytebase, @tianzhou

docs: upload 30 saas services blog (#380)
  content/blog/30saas-services-behind-startup.md
  static/blog/30saas-services-behind-startup/30saas-services-behind-startup.webp
  static/blog/30saas-services-behind-startup/algolia-search.webp
  static/blog/30saas-services-behind-startup/bytebase-on-gitpod.webp
  static/blog/30saas-services-behind-startup/casual-dashboard.webp
  static/blog/30saas-services-behind-startup/excalidraw-bytebase-architecture.webp
  static/blog/30saas-services-behind-startup/excalidraw-bytebase-console.webp
  static/blog/30saas-services-behind-startup/intercom-bot.webp
  static/blog/30saas-services-behind-startup/metabase.webp
  static/blog/30saas-services-behind-startup/oslash.webp
  static/blog/30saas-services-behind-startup/pulley.webp
  static/blog/30saas-services-behind-startup/website-status.webp
  static/blog/how-do-we-build-a-highly-available-service-in-the-cloud/cloud.webp
  static/docs/en/vcs-integration/add-git-provider/add-git-provider-github-com-step1.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step4.webp
  static/docs/en/vcs-integration/add-git-provider/vcs-github-step5.webp
Owners: @adela-bytebase, @tianzhou

chore: add import-block to how-to
  components/IncludeBlock.vue
  content/docs/en/document-write-guide.md
  content/docs/en/how-to/clickhouse/how-to-connect-clickhouse-ssl.md
  content/docs/en/how-to/clickhouse/how-to-create-a-database-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-create-a-table-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-list-tables-from-a-database-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-rename-a-table-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-run-clickhouse-docker.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: fix data fetch
  components/IncludeBlock.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: use `import-block` in how-to (#382)
  components/IncludeBlock.vue
  content/docs/en/document-write-guide.md
  content/docs/en/how-to/clickhouse/how-to-connect-clickhouse-ssl.md
  content/docs/en/how-to/clickhouse/how-to-create-a-database-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-create-a-table-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-list-tables-from-a-database-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-rename-a-table-clickhouse.md
  content/docs/en/how-to/clickhouse/how-to-run-clickhouse-docker.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: update post tag style
  common/type.ts
Owners: @ecmadao, @boojack, @tianzhou

chore: add default style
  common/type.ts
Owners: @ecmadao, @boojack, @tianzhou

chore: update blog tag
  common/type.ts
  content/blog/30saas-services-behind-startup.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

chore: update post tag style (#383)
  common/type.ts
  content/blog/30saas-services-behind-startup.md
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

docs: tweak change workflow doc after moving to a different section
  content/docs/en/change-database/change-workflow.md
Owners: @adela-bytebase, @tianzhou

chore: update config
  .gitignore
  common/sqlReview.ts
  components/SchemaSystem/SchemaRuleConfig.vue
  components/SchemaSystem/SchemaRuleLevelBadge.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  pages/sql-review-guide/index.vue
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

chore: update related code
  common/sqlReview.ts
Owners: @ecmadao, @boojack, @tianzhou

docs: GitOps with Feature Branch Workflow how-to
  common/const.ts
  content/docs/en/how-to/_layout.md
  content/docs/en/how-to/workflow/gitops-feature-branch.md
  layouts/content.vue
  static/docs/en/how-to/workflow/gitops-feature-branch/branch-setting.webp
  static/docs/en/how-to/workflow/gitops-feature-branch/final-setup.webp
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

fix: copy button style in include-block
  components/DocumentViewer.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: fix script
  components/SchemaSystem/SchemaConfigurationPage.vue
  locales/en.json
  locales/zh.json
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

chore: update sql review config file (#386)
  .gitignore
  common/sqlReview.ts
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaRuleConfig.vue
  components/SchemaSystem/SchemaRuleLevelBadge.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  locales/en.json
  locales/zh.json
  pages/sql-review-guide/index.vue
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

docs: GitOps with Feature Branch Workflow how-to (#385)
  common/const.ts
  content/docs/en/how-to/_layout.md
  content/docs/en/how-to/workflow/gitops-feature-branch.md
  layouts/content.vue
  static/docs/en/how-to/workflow/gitops-feature-branch/branch-setting.webp
  static/docs/en/how-to/workflow/gitops-feature-branch/final-setup.webp
Owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase

docs: tweak change workflow doc after moving to a different section (#384)
  content/docs/en/change-database/change-workflow.md
Owners: @adela-bytebase, @tianzhou

fix: copy button style in include-block (#387)
  components/DocumentViewer.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: update split line style
  components/DocsSidebar.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: update split line style (#388)
  components/DocsSidebar.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: add more meta content
  pages/index.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: add more meta content (#389)
  pages/index.vue
Owners: @ecmadao, @boojack, @tianzhou

fix: vite link on techstack page
  pages/techstack.vue
Owners: @ecmadao, @boojack, @tianzhou

fix: vite link on techstack page
  pages/techstack.vue
Owners: @ecmadao, @boojack, @tianzhou

fix: vite link on techstack page (#391)
  pages/techstack.vue
Owners: @ecmadao, @boojack, @tianzhou

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                            @ecmadao @boojack @tianzhou

# Content such as docs.
/content/                    @adela-bytebase @tianzhou
/static/                     @adela-bytebase @tianzhou

# Team page
/assets/people/              @tianzhou @d-bytebase
/common/teammate.ts          @tianzhou @d-bytebase
