Repository bytebase/bytebase.com-old, changes with the owners that CODEOWNERS names for each.
All owners: @ecmadao, @boojack, @tianzhou, @adela-bytebase, @d-bytebase

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                            @ecmadao @boojack @tianzhou

# Content such as docs.
/content/                    @adela-bytebase @tianzhou
/static/                     @adela-bytebase @tianzhou

# Team page
/assets/people/              @tianzhou @d-bytebase
/common/teammate.ts          @tianzhou @d-bytebase

apply suggestions
  content/docs/en/contribute-to-bytebase.md
  content/docs/en/document-write-guide.md
  static/docs/en/contribute-to-bytebase/data-model-v1.webp
  static/docs/en/contribute-to-bytebase/tech-stack.webp
Owners: @adela-bytebase, @tianzhou

apply suggestions
  content/docs/en/features/vcs-integration/enable-version-control-workflow.md
  content/docs/en/features/vcs-integration/troubleshoot.md
Owners: @adela-bytebase, @tianzhou

chore: update wechat icon
  assets/wechat.webp
  components/Footer.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: remove unused svg
  assets/svg/qrcode.svg
Owners: @ecmadao, @boojack, @tianzhou

chore: use localization files in console for sql review
  .gitignore
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaRuleConfig.vue
  components/SchemaSystem/SchemaRuleLevelBadge.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  locales/en.json
  locales/zh.json
  nuxt.config.js
  package.json
  scripts/get_schema_review_rules.sh
  scripts/get_sql_review_configuration.sh
Owners: @ecmadao, @boojack, @tianzhou

chore: update icons
  assets/wechat.webp
  components/Footer.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: add max-width to demo page
  pages/demo/index.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: rename qrcode file name
  assets/wechat-bb-qrcode.webp
  components/Footer.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: add max-width to demo page (#325)
  pages/demo/index.vue
Owners: @ecmadao, @boojack, @tianzhou

chore: add wechat qrcode (#323)
  assets/wechat-bb-qrcode.webp
  assets/wechat.webp
  components/Footer.vue
  pnpm-lock.yaml
Owners: @ecmadao, @boojack, @tianzhou

chore: update script
  scripts/get_sql_review_configuration.sh
Owners: @ecmadao, @boojack, @tianzhou

chore: remove todo
  scripts/get_sql_review_configuration.sh
Owners: @ecmadao, @boojack, @tianzhou

change file name
  content/docs/en/_layout.md
  content/docs/en/how-to-contribute.md
Owners: @adela-bytebase, @tianzhou

chore: address comment
  README.md
  package.json
  scripts/fetch_sql_review_file.sh
Owners: @ecmadao, @boojack, @tianzhou

chore: update README
  README.md
Owners: @ecmadao, @boojack, @tianzhou

docs: prune the auto generated page
  common/matrix.ts
  nuxt.config.js
  pages/compare/_slug/index.vue
  pages/software/_slug/index.vue
Owners: @ecmadao, @boojack, @tianzhou

Update README.md
  README.md
Owners: @ecmadao, @boojack, @tianzhou

Update README.md
  README.md
Owners: @ecmadao, @boojack, @tianzhou

chore: use localization files in console for sql review (#324)
  .gitignore
  README.md
  components/SchemaSystem/SchemaConfigurationPage.vue
  components/SchemaSystem/SchemaRuleConfig.vue
  components/SchemaSystem/SchemaRuleLevelBadge.vue
  components/SchemaSystem/SchemaSystemPreview.vue
  locales/en.json
  locales/zh.json
  nuxt.config.js
  package.json
  scripts/fetch_sql_review_file.sh
  scripts/get_schema_review_rules.sh
Owners: @ecmadao, @boojack, @tianzhou

docs: prune the auto generated page (#326)
  common/matrix.ts
  nuxt.config.js
  pages/compare/_slug/index.vue
  pages/software/_slug/index.vue
Owners: @ecmadao, @boojack, @tianzhou

docs: update bulit-by
  components/PastCompanyBar.vue
  locales/en.json
  locales/zh.json
Owners: @ecmadao, @boojack, @tianzhou

docs: update bulit-by (#327)
  components/PastCompanyBar.vue
  locales/en.json
  locales/zh.json
Owners: @ecmadao, @boojack, @tianzhou

blog: fix typo in heading
  content/blog/database-version-control-state-based-vs-migration-based.md
Owners: @adela-bytebase, @tianzhou

blog: fix typo in heading (#328)
  content/blog/database-version-control-state-based-vs-migration-based.md
Owners: @adela-bytebase, @tianzhou

docs: upload docs for contributing to bytebase (#318)
  content/docs/en/_layout.md
  content/docs/en/document-write-guide.md
  content/docs/en/how-to-contribute.md
  static/docs/en/contribute-to-bytebase/data-model-v1.webp
  static/docs/en/contribute-to-bytebase/tech-stack.webp
Owners: @adela-bytebase, @tianzhou

create a folder for screenshots
  static/blog/restoring-a-mysql-database-to-a-point-in-time/test.webp
Owners: @adela-bytebase, @tianzhou

A blog post for PITR
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Add screenshots for PITR
  static/blog/restoring-a-mysql-database-to-a-point-in-time/del.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/original.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-cover.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-step1.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-step2.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-step3.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/pitr-step4.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/result.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/test.webp
  static/blog/restoring-a-mysql-database-to-a-point-in-time/verify.webp
Owners: @adela-bytebase, @tianzhou

Update the doc URL for PITR
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Update the title style
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

add info about Grace
  common/teammate.ts
Owners: @tianzhou, @d-bytebase

add photo about Grace
  assets/people/Grace.png
Owners: @tianzhou, @d-bytebase

Update content/blog/restoring-a-mysql-database-to-a-point-in-time.md
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/restoring-a-mysql-database-to-a-point-in-time.md
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

Update content/blog/restoring-a-mysql-database-to-a-point-in-time.md
  content/blog/restoring-a-mysql-database-to-a-point-in-time.md
Owners: @adela-bytebase, @tianzhou

docs: add info about grace
  common/teammate.ts
Owners: @tianzhou, @d-bytebase

Delete Grace.png
  assets/people/Grace.png
Owners: @tianzhou, @d-bytebase

docs: add avatar
  assets/people/grace.png
Owners: @tianzhou, @d-bytebase

Delete grace.png
  assets/people/grace.png
Owners: @tianzhou, @d-bytebase

docs: add avatar
  assets/people/grace.webp
Owners: @tianzhou, @d-bytebase
